/project_prj/nbproject/private/
/project_prj/build/
/project_prj/dist/
/WebApplication1/nbproject/private/
/HE150026/nbproject/private/
/HE150026/build/
/Q2_HE150026/nbproject/private/
/Q2_HE150026/build/
/Q2_HE150026/dist/
/Q1_pe_fall2020/nbproject/private/
/Q1_pe_fall2020/build/